#homeView {
    text-align: center;
    margin: auto;
}
#header {
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
    top: 0%;
}
#AboutButton {
    box-align: right;
}